apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - grafana-cloud-secret.yaml
  - alloy-configmap.yaml
  - alloy-daemonset.yaml
