apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ../../base
secretGenerator:
  - name: grafana-cloud
    envs:
      - secret.env
generatorOptions:
  disableNameSuffixHash: true
